
html, body {
 margin: 0;
 padding: 0;
}

body {
 color: #211f1e ;
 background: url(/img/bg.jpg) no-repeat center center fixed; 
 background-size: cover;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.container {
 position: relative;
 top: 100px;
}

.inbox{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    color: green;
    font-family: 'Lucida Sans';
    font-size: 14px
    
}

square{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    display: inline-block;
}

.colorBox{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
   
}

span {
    display: inline-block;
    width:400px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}