<div class="container">
<h1>Hello World</h1>

<button onclick="shalom()"> Shalom</button>
<div type="button"  class="inbox">  
 
 <button ng-click="createAlert()">Click here</button>
  Type Here: <input type="text" ng-model="write" value="">
  
<!--<button ng-click="addSquare()"> Add a square</button>  
  <div class="square" ></div>
  

  -->

</div>
<div class="colorBox" ng-mouseover="colorChange()" ng-style="{backgroundColor: theColor}"></div>

 <div>
 <button ng-click="addName()">name</button>
 <span type= "text"  ng-model="print" value =""></span>
 </div>